@font-face {
  font-family: 'Arial Monospaced MT';
  src: url('fonts/subset-ArialMonospacedMT.eot');
  src: url('fonts/subset-ArialMonospacedMT.eot?#iefix') format('embedded-opentype'), url('fonts/subset-ArialMonospacedMT.woff') format('woff'), url('fonts/subset-ArialMonospacedMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  font-family: 'Arial Monospaced MT', monospace;
  letter-spacing: -0.03125em;
}

.app,
.stage {
  width: 100%;
  height: 100%;
}

.app {
  display: table;
}

.stage {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10%;
  cursor: default;
  user-select: none;
}
